@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --light:white;
    --dark: rgb(53, 50, 50);
    --gray:gray;
    --orange: rgb(223, 115, 26);
    --sectionGray:rgb(238, 229, 229);
    

}


body{
    font-family: 'Sniglet', cursive;
}

/* nav */
.nav{
background: var(--light);
}

.nav-header{

    border-bottom: 0.5rem solid rgb(80, 74, 74);
}

.nav-btn{
    margin-left: 85%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    color: gray;
}

.nav__links{
    background: rgb(126, 170, 101);
    list-style: none;
}

.nav__links-single{
    text-decoration: none;
    display: block;
    padding: 0.25rem 1rem;
    font-size: 2rem;
    text-transform:capitalize;
    color: white;
    letter-spacing: 0.3rem;
    transition: all 0.5s ease;
}

.nav__links-single:hover{
    background: white;
    color: gray;
    padding-left: 1.5rem;

}

/*  */

.nav__links{
    height: 0;
    overflow: hidden;
    transition: all 2s linear;
}

.show_links{
    height: 240px;
}




/* end of nav */

/* header */
.header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0 ,0 ,0.2), rgba(0,0,0,0.8)), url(./images/main.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

}

/* end of header */

/* banner */
.banner{
    display: flex; 
    flex: 1 0 auto;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding-bottom: 6rem;
}

.banner__title{
    font-size: 4rem;
    letter-spacing: 0.3rem;
    color: var(--light);
    margin-bottom: 1.5rem;
    text-transform: capitalize;
   
}

.banner__job{
    color: var(--light);
    letter-spacing: 0.3rem;
    text-transform: capitalize;
}

/* end of banner */

/* about */
.about{
    margin-top: 2.5rem;
    background: rgb(122, 143, 122);
    
}

.about__center{
    max-width: 90vw;
    padding: 2rem;
   
}

.about-img{
   margin-bottom: 2rem;
    position: relative;
}


.about-img__photo{
    display: block;
    width: 100%;
    position: relative;
    border-radius: 10px;
}




.about-info{
    margin-top: 4rem;
}


.about-info__title{
    font-size: 3rem;
    color: var(--light);
    text-transform: capitalize;
    letter-spacing: 0.3rem;
}

.about-info__text{
    font-size: 1.2rem;
    color: var(--light);
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    margin: 3rem 0;
}

.about-info__singleLink{
    display: inline-block;
    border: 2px solid wheat;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    transition: all 1s linear;
    
}


.dark-btn:hover{
    background: rgb(36, 58, 36) ;
}

@media screen and (min-width:992px){
    .about__center{
        display: flex;
        justify-content: space-between;
    }
    .about-info,.about-img{
        flex: 0 0 calc(50% - 1rem);
    }
}

/* end of about */

/* section title */

.section-title{
    text-align: center;
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: 0.3rem;
}

/* end of section title */


/* section services */
.services{
    margin-top: 3rem;
    background: rgb(238, 234, 234);
    padding: 2rem 0;
  
}

.services-center{
    max-width: 90vw;
    margin: 2rem auto;
}

.services__single-service{
    margin: 3rem auto;
    text-align: center;
    padding: 2rem 0;
    transition: all 0.5s ease-in-out;
}

.services__single-service:hover{
    background:white;
    box-shadow: 0 10px 20px rgb(77, 73, 73);
    border-radius: 10px;
}

.services_single-service-icon{
    font-size: 3rem;
}

.services_single-service-title{
    font-size: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}
.services_single-service-text{
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 80%;
    margin: 0 auto;
    
}

@media screen and (min-width:768px){
    .services-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .services__single-service{
        flex: 0 0 calc(50% - 1rem);
    }
}

@media screen and (min-width:992px){
    .services__single-service{
        flex: 0 0 calc(33.33% - 1rem);
    }
}

/* end of section services */

/* numbers */
.numbers{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./images/pic-2.jpg)center/cover fixed;
    padding: 2rem 0;
    color: white;

}

.numbers-center{
    max-width: 90vw;
    margin: 2rem auto;
}

.numbers__single-number{
    margin: 3rem 0;
    text-align: center;
    transition: all 0.3s linear;
    cursor: pointer;
    
}
/* .numbers__single-number:hover{
    transform: scale(1.2);
} */

.numbers__single-number-icon{
    font-size: 3rem;
    
}

.numbers__single-number-text{
    font-size: 2rem;
    margin: 0.5rem 0;
    letter-spacing: 0.3rem;
}

.numbers__single-number-title{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;

}

@media screen and (min-width:576px){
    .numbers-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .numbers__single-number{
        flex: 0 0 calc(50% - 1rem);
    }
}
@media screen and (min-width:992px){
    
    .numbers__single-number{
        flex: 0 0 calc(25% - 1rem);
    }
}

/* end of numbers */

/* projects */
.projects{
    padding: 2rem 0;

}

.projects-center{
    max-width: 90vw;
    margin: 2rem auto;
}

.projects__single-images{
    margin: 3rem auto;
    position: relative;
}

.products-img{
    display: block;
    width: 100%;
    border-radius: 10px;
}

.projects__single-images::before{
    content: "";
    background: rgb(89, 90, 86);
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.5s ease-in-out;
    transform: scale(0);
    opacity: 0;
}

.projects__single-images:hover::before{
transform: scale(1);
opacity: 0.5;
border-radius: 10px;
}

.projects__single-icon{
    position: absolute;
    font-size: 6rem;
    top: 50%;
    left: 50%;
    color: white;
    transform: scale(0);
    opacity: 0;
    transition: all 1.3s ease;

}

.projects__single-icon:hover{
    color: rgb(204, 186, 186);
}

.projects__single-images:hover .projects__single-icon{
transform: scale(1);
opacity: 1;
transform: translate(-50%,-50%);
}

@media screen and (min-width:768px){
    .projects-center{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
  .projects__single-images{
      flex: 0 0 calc(50% - 1rem);
  }

}
@media screen and (min-width:768px){
  .projects__single-images{
      flex: 0 0 calc(25% - 1rem);
  }

}

/* end of projects */

/* contact */

.contact{
    background: rgb(240, 232, 232);
    padding: 2rem 0;
}

.contact-center{
    max-width: 80vw;
    margin: 2rem auto;
}

.contact__name, .contact__email, .contact__textarea{
    background: transparent;
    border: none;
    font-size: 1.2rem;
    margin: 2rem 0;
    border-bottom: 2px solid gray;
    padding: 0.5rem 0;
    outline: none;
}

.contact-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.contact__name, .contact__email{
    flex: 0 0 calc(50% - 1rem);
}
.contact__textarea{
    width: 100%;
    font-size: 1.5rem;

}

.contact__btn{
    display: block;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3re,;
    background: rgb(77, 73, 73);
    color: white;
    border: none;
    border-radius: 5px;
    transition: all 0.3s linear;
}
.contact__btn:hover{
    background: white;
    border: 2px solid rgb(77, 73, 73);
    color: rgb(77, 73, 73);
}

/* end of contact */

/* footer */

.footer{
    background:  rgb(77, 73, 73);
    padding: 3rem 0;
}

.footer_icon{
    display: flex;
    justify-content: space-around;
}

.footer_icon-single{
   color: white; 
   font-size: 2rem;
   transition: all 0.2s ease;
}

.footer_icon-single:hover{
    color: rgb(196, 189, 189);
}


/* end of footer */